__pycache__/
datasets/**
NLP_gansior/professions/dataset_profession/**
.idea
NLP_gansior/professions/get_information/*.txt
NLP_gansior/professions/get_information/*.csv
.ipynb_checkpoints/
NLP_gansior/FIO/.ipynb_checkpoints/
collection_all_ resurses_NLP/Auto_spell_checkers/*.csv
datasets/
datasets/datasets/База данных имен и фамилий в формате CSV
datasets/datasets/База данных имен и фамилий в формате CSV
datasets/справочники
datasets/name-surname-master
datasets/spravochnik_telefonnyi_belgorodskoi_oblasti
datasets/*.txt